# Ranger Configuration
RANGER_URL=http://ranger:6080
RANGER_USERNAME=
RANGER_PASSWORD=
NX1_REPO_NAME=nx1-unifiedsql

# Keycloak Configuration
KEYCLOAK_URL=
KEYCLOAK_REALM=
KEYCLOAK_ADMIN_CLIENT_ID=
KEYCLOAK_ADMIN_CLIENT_SECRET=
KEYCLOAK_VERIFY_SSL=false
KEYCLOAK_CACERT=

# Email / SMTP Configuration
POLICY_SMTP_CONN_ID=smtp_default
POLICY_EMAIL_RECIPIENTS=

# Spark Configuration
SPARK_CONN_ID=spark_default

# Tracking Configuration
POLICY_TRACKING_DATABASE=policy_tracking
POLICY_TRACKING_LOCATION=s3a://data-lake/policy_tracking
POLICY_REPORT_LOCATION=s3a://data-lake/policy_reports
